.card {
  width: 540px;
}

.card__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.card__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0 0 32px;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
}

.card__list-item:last-of-type {
  margin-bottom: 0px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}


/*
