.form {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 385px;
  padding: 0;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.form__label {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #838383;
  margin-bottom: 32px;
  min-height: 60px;
}

.form__button {
  border-radius: 4px;
  opacity: 1;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  color: #fff;
  background-color: #2f80ed;
}

.form__button:hover {
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.7;
  transition-timing-function: ease-in-out;
}

.form__label_type {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 32px 0 0;
  padding: 0;
}

.form__label_type_checkbox {
  border-radius: 2px;
  margin: 0 12px 0 0;
  width: 20px;
  height: 20px;
  padding: 0;
}
